@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: normal;
  src: url('/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  src: url('/fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  src: url('/fonts/IBMPlexMono-Regular.ttf');
}

@layer components {
	body { @apply
		font-default
		text-std
		overflow-hidden;
	}

	h1 { @apply
		text-xl
		font-default;
	}

	h2 { @apply
		text-xl
		font-default;
	}

	input { @apply
		h-[50px]
		px-4
		border
		border-black
		bg-gray
		border-0
		focus:ring-[2px]
		ring-primary;
		placeholder:text-gray;
		outline: 0 !important;
	}

	form { @apply
		flex
		flex-col
		gap-8;
	}

	form > div { @apply
		flex
		flex-col;
	}

	form label { @apply
		font-bold
	}

	a { @apply
		underline
		text-blue-900
		font-default;
		color: inherit;
	}
}
